body {
    background-color: rgb(47, 83, 90);
  }
h1{
    color: #ffffff;
    text-align: center;
    font-family: "Brygada 1918";
    font-size: 2000%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-grow: 2;
    margin-bottom: 0%;
    text-decoration: underline;
}
h2{
    color: #ffffff;
    text-align: center;
    font-family: "Brygada 1918";
    font-size: 800%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
}
.nav{
    color:#ffffff;
    font-size: 1000%;
    text-align: center;
    font-family: "Brygada 1918";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-grow: 2;
    margin-bottom: 5%;
}
.logo{
    width: 10%;
    flex-grow: 2;
    margin: 5%;
    margin-bottom: 0%;
}
.Chocolate {
    width: 50%;
    flex-grow: 2;
    margin-left: 25%;
    background-color: aliceblue;
}
.Stetson{
    width: 50%;
    flex-grow: 2;
    margin-left: 25%;
}
.Pear{
    width: 50%;
    flex-grow: 2;
    margin-left: 25%;
}
.Self{
    width: 50%;
    flex-grow: 2;
    margin-left: 25%;
}
.About{
    color: #ffffff;
    text-align: center;
    font-family: "Brygada 1918";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.subtext{
    color: #ffffff;
    text-align: left;
    font-family: "Brygada 1918";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1%;
    }   
