body {
    background-color: rgb(255, 255, 255);
  }
a{color: black;}
h1{
    color: #000000;
    text-align: center;
    font-family: "Brygada 1918";
    font-size: 500%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-grow: 2;
    margin-bottom: 0%;

}
h2{
    color: #000000;
    text-align: left;
    font-family: "Brygada 1918";
    font-size: 300%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-grow: 2;
    margin-bottom: 0%;
    margin-left: 3.5%
    justify-content: space-between

}
.nav{
    color:#000000;
    font-size: 300%;
    text-align: center;
    font-family: "Brygada 1918";
    font-style: normal;
    font-weight: 300%;
    line-height: normal;
    flex-grow: 2;
    margin-top: 4%;
    margin-bottom: 5%;
}
.logo{
    width: 10%;
    flex-grow: 2;
    margin: 5%;
    margin-bottom: 0%;
}
.Chocolate {
max-width: 30%;
min-width: 20%;
justify-content: space-between;
margin-left: 3%;
flex-grow: 2;
flex-shrink: 2;
}
.Lights{
    max-width: 30%;
    justify-content: space-between;
    flex-grow: 2;
    flex-shrink: 2;
}
.Pear{
    max-width: 32.1%;
    justify-content: space-between;
    flex-grow: 2;
    flex-shrink: 2;
    
}
.Self{
    width: 40%;
    flex-grow: 2;
    margin-left: 55.7%;
}
.About{
    color: #000;
    font-family: "Encode Sans Semi Condensed";
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.subtext{
    color: #000000;
    text-align: left;
    font-family: "Brygada 1918";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1%;
    }   
    .Stripes{
        flex-grow: 2;
        margin-top: 1%;
        max-width: 200%;
        margin-left: 0;
    }
